@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
   scroll-behavior: smooth;
}

.toggle {
   position: fixed;
   top: 30px;
   right: 30px;
   width: 50px;
   height: 50px;
   background: #00bcd4 url("./img/menu.png");
   background-size: 30px;
   background-position: center;
   background-repeat: no-repeat;
   cursor: pointer;
   z-index: 999;
}
.toggle.active {
   background: #000 url("./img/close.png");
   background-size: 25px;
   background-position: center;
   background-repeat: no-repeat;
}
.sidebar {
   position: fixed;
   top: 0;
   width: calc(100% - 500px);
   height: 100%;
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1;
   transition: 0.5s;
   padding: 40px;
   right: -100%;
}
.sidebar.active {
   right: 0;
   box-shadow: -1px 0 5px #00bcd4;
}
.sidebar__menu {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   list-style: none;
}
.sidebar__menu a {
   color: #fff;
   text-decoration: none;
   font-size: 2em;
   margin: 10px 0;
   font-weight: 300;
   letter-spacing: 2px;
   text-transform: uppercase;
}
.sidebar__menu a:hover {
   color: #00bcd4;
   text-shadow: 0 0 5px #00bcd4;
}

section {
   padding: 100px;
   min-height: 100vh;
}

.banner {
   position: relative;
   width: 100%;
   min-height: 100vh;
}
.banner__imgSidebar {
   position: absolute;
   top: 0;
   left: 0;
   width: 500px;
   height: 100%;
}
.banner__imgSidebar img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.banner__contentBx {
   position: absolute;
   top: 0;
   right: 0;
   width: calc(100% - 500px);
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 100px;
}
.banner__logoText {
   position: absolute;
   top: 40px;
   left: 100px;
   font-size: 1.2em;
   text-transform: uppercase;
   letter-spacing: 1px;
   background: #333;
   color: #fff;
   padding: 0 5px;
}
.banner__contentBx h4 {
   font-size: 1.5em;
   color: #333;
   font-weight: 300;
}
.banner__contentBx h4 span {
   color: #00bcd4;
   font-size: 1.5em;
   font-weight: 700;
}
.banner__contentBx h2 {
   font-size: 3em;
   color: #333;
   line-height: 1em;
}

p {
   font-size: 1.1em;
   margin: 20px 0;
   font-weight: 300;
}

.btn {
   background: #00bcd4;
   color: #fff;
   padding: 10px 30px;
   display: inline-block;
   text-decoration: none;
   font-weight: 500;
   letter-spacing: 2px;
}

.sci {
   position: absolute;
   left: 100px;
   bottom: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.sci li {
   margin-right: 10px;
   list-style: none;
}
.sci img {
   object-fit: cover;
   transform: scale(0.7);
   opacity: 0.7;
}
.sci img:hover {
   transform: scale(0.9);
   opacity: 1;
}

.title {
   width: 100%;
   text-align: center;
}
.title h2 {
   position: relative;
   color: #00bcd4;
   font-size: 1.8em;
   font-weight: 700;
   letter-spacing: 1px;
}
.title h2::before {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: -10px;
   width: 60px;
   height: 4px;
   background: #000;
}
.title p {
   max-width: 700px;
   display: inline-block;
}
.title.white {
   color: #fff;
}
.title.white h2::before {
   background: #fff;
}

.about {
   background: #000;
}
.about__content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-top: 40px;
}
.about__content .textBx {
   min-width: 49%;
   width: 49%;
}
.about__content p {
   color: #fff;
}
.about__content .imgBx {
   margin-left: 40px;
}
.about__content .imgBx img {
   max-width: 100%;
}

.services__content {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.services__content .servicesBx {
   padding: 40px 20px;
   max-width: 340px;
   margin: 20px;
   transition: 0.5s;
   text-align: center;
   background: #f5f5f5;
}
.services__content .servicesBx:hover {
   background: #000;
   color: #fff;
}
.services__content .servicesBx img {
   max-width: 80px;
}
.services__content .servicesBx:hover img {
   filter: invert(1);
}
.services__content .servicesBx h2 {
   margin-top: 20px;
   margin-bottom: 10px;
   font-size: 20px;
   font-weight: 600;
}
.services__content .servicesBx p {
   margin: 0;
}

.work__content {
   display: flex;
   justify-content: center;
   flex-direction: row;
   flex-wrap: wrap;
}
.workBx {
   position: relative;
   width: 265px;
   height: 265px;
   margin: 10px;
   transition: 0.5s;
   text-align: center;
}
.workBx .imgBx,
.workBx .textBx {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.workBx .imgBx img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.workBx .textBx {
   background: #000;
   opacity: 0;
   color: #fff;
   transition: 0.3s;
   cursor: pointer;
}
.workBx:hover .textBx {
   opacity: 0.8;
}
.workBx .textBx h3 {
   text-transform: uppercase;
   letter-spacing: 1px;
   font-size: 1em;
}

.contact {
   background: #000;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
.contact__form {
   position: relative;
   width: 700px;
   margin-top: 20px;
}
.contact__form .row {
   width: 100%;
   display: flex;
}
.contact__form .row .col50 {
   width: 50%;
   margin: 10px;
}
.contact__form .row .col100 {
   width: 100%;
   margin: 10px;
   text-align: center;
}
.contact__form input,
.contact__form textarea {
   width: 100%;
   padding: 10px;
   border: none;
   outline: none;
   background: #111;
   color: #fff;
   font-size: 16px;
   resize: none;
}
.contact__form input:focus,
.contact__form textarea:focus {
   outline: 1px solid #00bcd4;
}
.contact__form textarea {
   height: 100px;
}
.contact__form input[type="submit"] {
   width: auto;
   background: #00bcd4;
   color: #fff;
   padding: 10px 30px;
   display: inline-block;
   font-weight: 400;
   letter-spacing: 2px;
   cursor: pointer;
}

footer {
   color: #fff;
   background: #111;
   text-align: center;
   padding: 10px;
}
footer p {
   margin: 0;
   font-size: 16px;
}

.toTop {
   position: fixed;
   right: 30px;
   width: 50px;
   height: 50px;
   background: #00bcd4;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   bottom: -80px;
   transition: 0.5s;
}
.toTop.active {
   bottom: 30px;
   box-shadow: 0 0 2px #00bcd4;
}
.arrow {
   width: 20px;
   height: 20px;
   border-left: 3px solid #fff;
   border-top: 3px solid #fff;
   transform: rotate(45deg);
   margin-top: 7px;
}

@media (max-width: 991px) {
   section {
      padding: 40px;
   }

   .banner__imgSidebar {
      display: none;
   }
   .banner__contentBx,
   .sidebar {
      width: 100%;
      padding: 40px;
   }
   .banner__logoText {
      left: 40px;
   }

   .toggle,
   .toTop {
      right: 40px;
   }

   .sci {
      left: 40px;
   }

   .about__content {
      flex-direction: column;
      margin-top: 0;
   }
   .about__content .textBx {
      width: 100%;
   }
   .about__content .imgBx {
      margin-left: 0;
   }

   .services__content .servicesBx {
      padding: 30px 20px;
      max-width: 340px;
      margin: 10px;
   }

   .contact__form {
      width: 100%;
   }
   .contact__form .row {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
   }
   .contact__form .row .col50 {
      width: 100%;
      margin: 10px;
   }

   .sidebar ul li a {
      font-size: 1.5em;
   }
}

@media (max-width: 500px) {
   .services__content .servicesBx,
   .work__content .workBx {
      max-width: 100%;
      width: 100%;
      margin: 10px 0;
   }
}
