$main-color: rgb(78, 82, 89);

.contact_section {
   background-color: $main-color;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   gap: 20px;
}

.contact_section > .section__title {
   color: rgb(246, 237, 216);
}
.contact_section > .section__subtitle {
   color: rgb(246, 237, 216);
}
.form {
   width: 100%;
   display: flex;
   justify-content: center;
}
form {
   display: flex;
   flex-direction: column;
   width: 90%;
   align-items: center;
}

@mixin textInput {
   font-size: 1.3em;
   font-family: "RobotoSlab";
   padding: 5px;
   border-radius: 5px;
   width: 100%;
   margin-bottom: 10px;
   border: none;
}

.form__name {
   @include textInput();
}

.form__email {
   @include textInput();
}

.form__subject {
   @include textInput();
}

.form__message {
   @include textInput();
   resize: none;
}

.form__submit {
   width: 214px;
   font-size: 1.3em;
   font-family: "RobotoSlab";
   color: rgb(56, 58, 60);
   font-weight: bold;
   padding: 5px;
   border-radius: 5px;
   border: none;
   cursor: pointer;
}

.form__invalid:invalid {
   border: 2px solid red;
}

.contact_section__social {
   display: flex;
   align-items: center;
   flex-direction: column;
}
.social__title {
   font-size: 1.5em;
   font-family: "Bazar";
   color: rgb(246, 237, 216);
   margin-bottom: 10px;
}
.social__sup {
   border-top: 2px solid rgb(246, 237, 216);
   width: 50px;
   margin-bottom: 30px;
}
.social__icons > ul {
   list-style: none;
   display: flex;
   flex-direction: column;
   gap: 30px;
}
.social__icon {
   background-color: #fff;
   border-radius: 100%;
   width: 80px;
   height: 80px;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
   cursor: pointer;
}
.social__icon::before {
   content: "";
   position: absolute;
   margin: auto auto;
   border: 2px solid $main-color;
   border-radius: 100%;
   width: 70px;
   height: 70px;
}
.social__icon > img {
   width: 40px;
   color: red;
}
.social__icon:hover > img {
   transform: rotateY(360deg);
   transition: transform 1s ease-in;
}
.contact_section__api-block {
   margin: 50px 0 100px 0;
}
.api__title {
   font-size: 1.5em;
   font-family: "Bazar";
   color: rgb(246, 237, 216);
   margin-bottom: 10px;
   text-align: center;
}
.api__item {
   font-size: 1em;
   font-family: "RobotoSlab";
   color: rgb(246, 237, 216);
   margin-bottom: 10px;
}
.api__result {
   text-align: center;
   margin: 10px 0;
}

.happy-anim {
   width: 100%;
   height: 100vh;
   position: fixed;
   top: 0;
   z-index: 99;
   background-color: #fff;
   transition: background 0s;
   justify-content: center;
   align-items: center;
   display: none;
   flex-direction: column;
   gap: 30px;
}
.happy-anim_dark {
   background-color: #4e5052;
}
.happy-anim__text {
   position: relative;
   font-size: 3em;
   font-family: "RobotoSlab";
   color: rgb(126, 193, 193);
   font-weight: bold;
   text-align: center;
}
.happy-anim__smile {
   width: 150px;
   height: 150px;
   inset: 0;
   background: rgb(126, 193, 193);
   border-radius: 50%;
   position: relative;
}
.happy-anim__smile::before {
   content: "";
   position: absolute;
   top: 50px;
   left: 45px;
   width: 15px;
   height: 15px;
   background: #111;
   opacity: 0.5;
   border-radius: 50%;
   box-shadow: 45px 0 0 #111;
}
.happy-anim__smile::after {
   content: "";
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 45px;
   width: 40px;
   height: 20px;
   border-radius: 8px;
   border-bottom-left-radius: 20px;
   border-bottom-right-radius: 20px;
   background: #111;
   opacity: 0.5;
}
