.portfolio_section {
  background-color: #e48b6a;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 20px;
}

.portfolio_section_dark {
  background-color: #4e5052;
}

.portfolio_section__filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.filters__title {
  font-size: 1.4em;
  font-family: "RobotoSlab";
  color: #383a3c;
  margin-right: 30px;
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.filter__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fbfaf6;
  height: 30px;
  position: relative;
  cursor: pointer;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 20px solid #fbfaf6;
  border-bottom: 15px solid transparent;
}

.filter__point {
  width: 6px;
  height: 6px;
  background-color: #383a3c;
  border-radius: 25px;
  margin-right: 5px;
}

.filter__text {
  margin-right: 10px;
}

.portfolio_section__works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.works {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 70%;
  margin: 0 auto;
}

.work {
  justify-self: legacy left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
  height: auto;
  background-color: #fff;
  padding: 10px;
  position: relative;
}

.work > img {
  width: 100%;
  background-color: #333;
}

.work:hover {
  cursor: pointer;
}

.work:hover > img {
  -webkit-box-shadow: inset 0 0 10px 1000px #000;
          box-shadow: inset 0 0 10px 1000px #000;
  -webkit-filter: blur(4px);
          filter: blur(4px);
}

.work__icon {
  border-radius: 30px;
  border: 10px solid #fff;
  top: -10px;
  position: relative;
  background-color: #fff;
}

.work__text {
  font-size: 24px;
  font-family: "RobotoSlab";
  color: #383a3c;
  font-weight: bold;
  top: -10px;
  position: relative;
}

.work_info {
  font-size: 24px;
  font-family: "RobotoSlab";
  position: absolute;
  margin: 10px;
  color: white;
}

.works__sup {
  border-top: 2px solid #000;
  width: 100px;
}

.works__all {
  font-size: 1.5em;
  font-family: "Oswald";
  color: #38353e;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
}

.portfolio_section_dark > .section__title {
  color: #fbfaf6;
}

.portfolio_section_dark > .section__subtitle {
  color: #fbfaf6;
}

.portfolio_section_dark .filters__title {
  color: #fbfaf6;
}

.portfolio_section_dark .works__sup {
  border-top: 2px solid #fbfaf6;
}

.portfolio_section_dark > .works__all {
  color: #fbfaf6;
}
/*# sourceMappingURL=style.css.map */