$main-color: rgb(220, 215, 199);
$light-color: rgb(246, 237, 216);

.about_section {
   background-color: $main-color;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   gap: 20px;
}
.about_section_dark {
   background-color: rgb(97, 95, 87);
}

.about_section__favorite {
   display: flex;
   justify-content: space-around;
   align-items: flex-start;
   flex-direction: row;
   max-width: 70%;
   margin-bottom: 50px;
}
.favorite {
   width: 15%;
   height: auto;
   align-items: center;
   display: inline-flex;
   flex-direction: column;
   gap: 10px;
}
.favorite img {
   width: 80%;
   position: relative;
   left: 50%;
   transform: translateX(-50%);
}
.favorite__title {
   font-size: 2em;
   font-family: "Bazar";
   color: rgb(56, 58, 60);
}
.favorite__subtitle {
   font-size: 1em;
   font-family: "Roboto Slab", serif;
   color: rgb(56, 58, 60);
}
.favorite__sep {
   border-top: 2px solid #000;
   width: 30%;
   height: 1px;
}
.favorite__text {
   font-family: "Roboto Slab", serif;
   color: rgb(56, 58, 60);
}

.about_section_dark > .section__title {
   color: $light-color;
}
.about_section_dark > .section__subtitle {
   color: $light-color;
}
.about_section_dark .favorite__title {
   color: $light-color;
}
.about_section_dark .favorite__subtitle {
   color: $light-color;
}
.about_section_dark .favorite__sep {
   border-top: 2px solid $light-color;
}
.about_section_dark .favorite__text {
   color: $light-color;
}
