.blog_section {
  background-color: #dddad8;
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  gap: 20px;
}

.blog_section_dark {
  background-color: #615f57;
}

.blog_section__posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  gap: 50px;
  position: relative;
}

.post {
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  left: -100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post__img > img {
  border: 5px solid #fff;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px #000;
          box-shadow: 1px 1px 5px #000;
}

.post__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.post__title {
  font-size: 2em;
  font-family: "RobotoSlab";
  color: #383a3c;
  font-weight: bold;
}

.post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.post__info > div {
  font-size: 1em;
  font-family: "Oswald";
  color: #383a3c;
  font-weight: bold;
  text-transform: uppercase;
}

.post__response {
  font-size: 1em;
  font-family: "Oswald";
  color: #383a3c;
  font-weight: bold;
  text-align: right;
}

.post__sup {
  border-top: 2px solid #000;
  width: 100px;
}

.post__text {
  font-size: 1em;
  font-family: "RobotoSlab";
  color: #383a3c;
  line-height: 1.781;
}

.post__all_sep {
  border-top: 2px solid #000;
  width: 100px;
}

.post__all {
  font-size: 1.5em;
  font-family: "Oswald";
  color: #38353e;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 50px;
}

.blog_section_dark > .section__title {
  color: #f6edd8;
}

.blog_section_dark > .section__subtitle {
  color: #f6edd8;
}

.blog_section_dark .post__title {
  color: #f6edd8;
}

.blog_section_dark .post__info > div {
  color: #f6edd8;
}

.blog_section_dark .post__response {
  color: #f6edd8;
}

.blog_section_dark .post__sup {
  border-top: 2px solid #f6edd8;
}

.blog_section_dark .post__text {
  color: #f6edd8;
}

.blog_section_dark .post__all_sep {
  border-top: 2px solid #f6edd8;
}

.blog_section_dark .post__all {
  color: #f6edd8;
}

.post_visible {
  left: 0%;
  -webkit-animation: postVisible 2s linear;
          animation: postVisible 2s linear;
}

@-webkit-keyframes postVisible {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}

@keyframes postVisible {
  from {
    left: -100%;
  }
  to {
    left: 0%;
  }
}
/*# sourceMappingURL=style.css.map */