$main-color: rgb(221, 218, 216);
$light-color: rgb(246, 237, 216);

.blog_section {
   background-color: $main-color;
   width: 100%;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   gap: 20px;
}
.blog_section_dark {
   background-color: rgb(97, 95, 87);
}

.blog_section__posts {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   gap: 50px;
   position: relative;
}
.post {
   max-width: 60%;
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 20px;
   flex: 1;
   left: -100%;
   position: relative;
}
.post__img > img {
   border: 5px solid #fff;
   border-radius: 5px;
   box-shadow: 1px 1px 5px #000;
}
.post__content {
   display: flex;
   align-items: start;
   flex-direction: column;
   gap: 20px;
}
.post__title {
   font-size: 2em;
   font-family: "RobotoSlab";
   color: rgb(56, 58, 60);
   font-weight: bold;
}
.post__info {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 100%;
}
.post__info > div {
   font-size: 1em;
   font-family: "Oswald";
   color: rgb(56, 58, 60);
   font-weight: bold;
   text-transform: uppercase;
}
.post__response {
   font-size: 1em;
   font-family: "Oswald";
   color: rgb(56, 58, 60);
   font-weight: bold;
}
.post__sup {
   border-top: 2px solid #000;
   width: 100px;
}
.post__text {
   font-size: 1em;
   font-family: "RobotoSlab";
   color: rgb(56, 58, 60);
   line-height: 1.781;
}
.post__all_sep {
   border-top: 2px solid #000;
   width: 100px;
}
.post__all {
   font-size: 28px;
   font-family: "Oswald";
   color: rgb(56, 53, 62);
   font-weight: bold;
   cursor: pointer;
   margin-bottom: 50px;
}

.blog_section_dark > .section__title {
   color: $light-color;
}
.blog_section_dark > .section__subtitle {
   color: $light-color;
}
.blog_section_dark .post__title {
   color: $light-color;
}
.blog_section_dark .post__info > div {
   color: $light-color;
}
.blog_section_dark .post__response {
   color: $light-color;
}
.blog_section_dark .post__sup {
   border-top: 2px solid $light-color;
}
.blog_section_dark .post__text {
   color: $light-color;
}
.blog_section_dark .post__all_sep {
   border-top: 2px solid $light-color;
}
.blog_section_dark .post__all {
   color: $light-color;
}
.post_visible {
   left: 0%;
   animation: postVisible 2s linear;
}
@keyframes postVisible {
   from {
      left: -100%;
   }
   to {
      left: 0%;
   }
}
